<div class="box">
        <h4>{{message}}</h4>
        <h6><strong>Prueba con las siguientes rutas:</strong></h6>
        <a class="link" href="http://localhost:8080/products" target="_blank">Products</a>
        <a class="link" href="http://localhost:8080/realTimeProducts" target="_blank">Real Time Products</a>
        <a class="link" href="http://localhost:8080/chat" target="_blank">Chats</a>
        <a class="link" href="http://localhost:8080/cart" target="_blank">Cart</a>
</div>